<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>694604862375-obpohl91ht7u83fok69je1nnkh4fidvu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.694604862375-obpohl91ht7u83fok69je1nnkh4fidvu</string>
	<key>API_KEY</key>
	<string>AIzaSyAUrWKz5l7CzSo_LIBkJTQUjYG_uuN6VYI</string>
	<key>GCM_SENDER_ID</key>
	<string>694604862375</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Com.Fix-My-Lawn.Fix-my-Lawn</string>
	<key>PROJECT_ID</key>
	<string>fix-my-lawn</string>
	<key>STORAGE_BUCKET</key>
	<string>fix-my-lawn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:694604862375:ios:4d00e1315d97cd403a5c82</string>
</dict>
</plist>